body {
    margin: 0;
    background-color: bisque;
}

 h3:last-child{
    background-color:lightseagreen;
    width:50%;
}

h3:first-child{
    background-color: lightslategrey;
}

.botao{
    cursor: pointer;
    background: linear-gradient(to bottom,  rgb(27, 73, 136), rgb(20, 94, 121),rgb(16, 119, 112));
    border: none;
    width: 300px;
    color:white;
    padding:15px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 25px;
    margin: 20px auto;
    transition-duration: 0.2s;
    display: block;
    outline: none;
}

#botaozinho:hover {
    color: teal;
    border-radius: 10px;
    font-style: italic;
    border:3px solid rgb(16, 119, 112);
    background: transparent;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#botaozinho:active {
    background-color: rgb(160, 207, 205);
    transform: translateY(4px);
  
}

