.body {
    background-color: rgb(153, 192, 211);
    font-family: 'Open Sans', sans-serif;  
    margin:0;
    width:100%;
    text-align: center;
    height:100%;
    position: absolute;
  }
 
  
  h1 {
    margin-bottom: 50px;
    font-weight: 400;  
    color:#333;
  
  }
  .comment {
    font-size: 18px;
  }
  .counter {
    width: 260px;
    height: 400px;
    padding-top: 70px;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 18px;
    color: #333;
    border-radius: 4px;
    
  }
  .result {
    position: relative;
    display: inline-block;
    font-size: 45px;
  }
  .reset {
    width: 70px;
    margin: 30px auto 40px; 
    letter-spacing: 2px;
    color: #333;
    cursor: pointer;
  }
  .reset:hover {
    font-style: italic;
  }
  button,
  input {
    padding: 7.5px;
    margin-top: 20px;   
    font-size: 16px;
    color: #634b4b;
    text-align: center;
    border: 0;
    border-radius: 2px;
    background: #8ecae0;
  }
  button:focus,
  input:focus {outline:0;}
  button {
      min-width: 100px;
      cursor: pointer;
  }
  button + button {  
    margin-left: 5px;
  }
  button:hover,
  input:hover{
      background: #4ea1c5;
  }
 
