body {
  background-color: rgb(153, 192, 211);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.counter {
  width: 260px;
  height: 350px;
  padding-top: 70px;
  margin: 100px auto;
  font-size: 18px;
  color: #333;
}
.result {
  font-size: 45px;
}
.reset {
  margin: 30px auto 40px;
  color: #333;
  cursor: pointer;
}
.reset:hover {
  font-style: italic;
}
button,
input {
  padding: 8px;
  margin-top: 20px;
  font-size: 16px;
  color: #333;
  text-align: center;
  border: none;
  background: #8ecae0;
}
button:focus,
input:focus {
  outline: none;
}
button {
  min-width: 100px;
  cursor: pointer;
}
button + button {
  margin-left: 10px;
}
button:hover,
input:hover {
  background: #4ea1c5;
}
